<nav class="navbar navbar-expand-sm bg-light justify-content-end">
    <button type="button" class="btn btn-sm" ng-click="changeLanguage('en')"
        ng-class="lang === 'en' ? 'btn-primary' : 'btn-link'">ENG
    </button>
    <button type="button" class="btn btn-sm" ng-click="changeLanguage('es')"
        ng-class="lang === 'es' ? 'btn-primary' : 'btn-link'">ESP
    </button>
</nav>