<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {{'RESULTS_PAGE' | translate}}
    </button>
    <div class="dropdown-menu">
        <button class="dropdown-item" ng-click="changePetsPerPage(8)">8</button>
        <button class="dropdown-item" ng-click="changePetsPerPage(20)">20</button>
        <button class="dropdown-item" ng-click="changePetsPerPage(40)">40</button>
    </div>
</div>
<button data-toggle="collapse" data-target="#filter" class="btn btn-primary">{{'FILTER' | translate}}</button>
<div id="filter" class="collapse">
    <div ng-repeat="species in availableSpecies" class="form-check-inline">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-checked="checkedSpecies.indexOf(species) != -1" ng-click="toggleCheck(species)" value="species">{{species | translate}}
        </label>
    </div>
</div>