<div class="modal" id="petModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="loadingPet">
                <div class="spinner-border text-primary"></div> Loading...
            </div>
            <div class="modal-header" ng-hide="loadingPet">
                <h4 class="modal-title"><i class="fas {{speciesIcon(pet.species)}}"></i> {{pet.name}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" ng-hide="loadingPet">
                <div class="card">
                    <img class="card-img-top" src="{{pet.imageUrl}}" alt="{{pet.name}}">
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><b>{{'GENDER' | translate}}:</b> {{pet.gender | translate}}</li>
                    <li class="list-group-item" ng-if="pet.subspecies != null"><b>{{'SPECIES' | translate}}:</b>
                        {{pet.subspecies}}
                    </li>
                    <li class="list-group-item" ng-if="pet.age != null"><b>{{'AGE' | translate}}:</b>
                        {{pet.age.value}} {{pet.age.timeUnit | translate}}
                    </li>
                    <li class="list-group-item">{{pet.story}}</li>
                    <li class="list-group-item"><b>{{pet.place}}</b></li>
                </ul>
            </div>
            <div class="modal-footer" ng-hide="loadingPet">
                {{pet.isAdopted ? 'ADOPTED' : 'ADOPT' | translate}}
            </div>

        </div>
    </div>
</div>