<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt a pet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.3/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.18.3/angular-translate-loader-static-files.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/directives.js"></script>
</head>

<body>

<div ng-app="adoptAPetApp" ng-controller="mainController">
    <div class="container">
        <language-menu></language-menu>
        <div class="jumbotron">
            <h1>Adopt a pet</h1>
            <p>{{'DESCRIPTION' | translate}}</p>

            <main-menu></main-menu>
            <div ng-show="loading" class="container">
                <div class="spinner-border text-primary"></div> Loading...
            </div>
            <div ng-show="pets.length == 0" class="alert alert-danger">
                {{'NO_RESULTS' | translate}}
            </div>
            <div ng-show="pets.length > 0" class="row">
                <div class="col-12 col-md-6 col-lg-3" ng-repeat="pet in pets">
                    <div class="card">
                        <div class="card-header">{{pet.place}}</div>
                        <div class="card-body">
                            <img class="card-img-top" src="{{pet.imageUrl}}" alt="{{pet.name}}">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{pet.name}} <i class="fas {{genderIcon(pet.gender)}}"></i> <i
                                    class="fas {{speciesIcon(pet.species)}}"></i></h4>
                            <p class="card-text">{{pet.subspecies}}</p>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#petModal"
                                    ng-click="showPet(pet.id)">{{'MORE_INFO' | translate}}
                            </button>
                        </div>
                        <div class="card-footer">{{pet.isAdopted ? 'ADOPTED' : 'PENDING' | translate}}</div>
                    </div>
                </div>
            </div>
            <div ng-show="pets.length > 0" ng-hide="loading" >
                <ul class="pagination justify-content-center pagination-sm">
                    <li class="page-item" ng-repeat="n in pages" ng-class="n == active ? 'active' : ''">
                        <button class="page-link" ng-click="findPage(n)">{{ n }}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <pet-modal></pet-modal>
</div>

</body>
</html>
